# Put your Spotify API credentials here
# Do NOT share this file or commit it to GitHub (it's ignored by .gitignore)

SPOTIPY_CLIENT_ID=your_client_id_here
SPOTIPY_CLIENT_SECRET=your_client_secret_here
SPOTIPY_REDIRECT_URI=http://localhost:5000/callback
